.container{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    align-content: justify;
}

.profileImage{
    display: flex;
    justify-content: center;
}

.name{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
    color:black;
}

.navigation{
    display: flex;
    justify-content: center;

}

.about{
    display: flex;
    justify-content:center

}

.video{
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}
